parameters:
	ignoreErrors:
		-
			message: "#^Method h4kuna\\\\DataType\\\\Immutable\\\\Messenger\\:\\:__serialize\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Immutable/Messenger.php

		-
			message: "#^Method h4kuna\\\\DataType\\\\Immutable\\\\Messenger\\:\\:__unserialize\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Immutable/Messenger.php

		-
			message: "#^Property h4kuna\\\\DataType\\\\Immutable\\\\Messenger\\<T of int\\|string\\>\\:\\:\\$data \\(array\\<T of int\\|string, mixed\\>\\) does not accept array\\.$#"
			count: 1
			path: src/Immutable/Messenger.php

		-
			message: "#^Property h4kuna\\\\DataType\\\\Immutable\\\\Messenger\\<T of int\\|string\\>\\:\\:\\$data \\(array\\<T of int\\|string, mixed\\>\\) does not accept mixed\\.$#"
			count: 1
			path: src/Immutable/Messenger.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 2
			path: src/Immutable/Messenger.php

		-
			message: "#^Parameter \\#2 \\$array of static method h4kuna\\\\DataType\\\\Basic\\\\Arrays\\:\\:concatWs\\(\\) expects array\\<int\\|string, bool\\|float\\|int\\|string\\>, array\\<int, int\\|string\\|false\\|null\\> given\\.$#"
			count: 4
			path: tests/src/Basic/ArraysTest.php

		-
			message: "#^Access to an undefined property h4kuna\\\\DataType\\\\Immutable\\\\Messenger\\<\\*NEVER\\*\\>\\:\\:\\$foo\\.$#"
			count: 1
			path: tests/src/Immutable/MessengerTest.php

		-
			message: "#^Access to an undefined property h4kuna\\\\DataType\\\\Immutable\\\\Messenger\\<string\\>\\:\\:\\$doe\\.$#"
			count: 1
			path: tests/src/Immutable/MessengerTest.php

		-
			message: "#^Access to an undefined property h4kuna\\\\DataType\\\\Immutable\\\\Messenger\\<string\\>\\:\\:\\$foo\\.$#"
			count: 2
			path: tests/src/Immutable/MessengerTest.php

		-
			message: "#^Cannot assign offset 'foo' to h4kuna\\\\DataType\\\\Immutable\\\\Messenger\\<\\*NEVER\\*\\>\\.$#"
			count: 1
			path: tests/src/Immutable/MessengerTest.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, string\\|false given\\.$#"
			count: 1
			path: tests/src/Immutable/MessengerTest.php
